[Unit]
Description=Service to start cd-ninja
After=network.target

[Service]
WorkingDirectory=/home/user/cd-ninja
ExecStart=/usr/bin/node /home/user/cd-ninja/dist/index.js

[Install]
WantedBy=multi-user.target
